<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      href="/css/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Add</title>
  </head>
  <body>
    <h1>Add</h1>
    <!-- Mulai -->
    <div class="container">
      <!-- string -->
      <form
        action=""
        method="post"
      >
        <div class="input-group">
          <label for="string">String :</label>
          <input
            style="margin-left: 15px"
            type="text"
            name="string"
            id="string"
            placeholder="Tulis String"
            required
          />
        </div>
        <br />
        <!-- Akhir sting -->
        <!-- integer -->
        <div class="input-group">
          <label for="integer">Integer :</label>
          <input
            style="margin-left: 10px"
            type="number"
            name="integer"
            id="integer"
            placeholder="Tulis integer"
            required
          />
        </div>
        <br />
        <!-- akhir integer -->
        <!-- float -->
        <div class="input-group">
          <label for="float">Float :</label>
          <input
            style="margin-left: 25px"
            type="number"
            name="float"
            id="float"
            placeholder="Tulis float"
            required
            step="0.005"
          />
        </div>
        <br />
        <!-- akhir float -->
        <!-- Mulai date-->
        <div class="input-group">
          <label for="date">Date :</label>
          <input
            style="margin-left: 30px"
            type="date"
            name="date"
            id="date"
            placeholder="Masukan date"
            required
          />
        </div>
        <br />
        <!--  Akhir date-->
        <!-- Mulai boolean -->
        <div class="input-group">
          <label for="boolean">Boolean :</label>
          <select
            name="boolean"
            id="boolean"
          >
            <option>Pilih</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
        <br />
        <!-- akhir Boolean -->
        <button
          type="submit"
          class="add"
          value="Save"
        >
          Tambah data
        </button>
        <br />
        <!-- Akhir -->
      </form>
    </div>
  </body>
</html>
