<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="style.css"
    />
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit</h1>
    <div class="Edit">
      <!-- ID -->
      <div class="row">
        <div class="col">
          <label for="id">ID :</label>
          <input
            type="text"
            name="id"
            id="id"
            placeholder="Tulis ID"
            required
          />
        </div>
      </div>
      <br />
      <!-- Akhir id -->
      <!-- string -->
      <div class="row">
        <div class="col">
          <label for="id">String :</label>
          <input
            type="text"
            name="string"
            id="string"
            placeholder="Tulis String"
            required
          />
        </div>
      </div>
      <br />
      <!-- Akhir sting -->
      <!-- integer -->
      <div class="row">
        <div class="col">
          <label for="id">Integer :</label>
          <input
            type="number"
            name="integer"
            id="integer"
            placeholder="Tulis integer"
            required
          />
        </div>
      </div>
      <br />
      <!-- akhir integer -->
      <!-- float -->
      <div class="row">
        <div class="col">
          <label for="id">Float :</label>
          <input
            type="number"
            name="float"
            id="float"
            placeholder="Tulis float"
            required
            step="0.005"
          />
        </div>
      </div>
      <br />
      <!-- akhir float -->
      <!-- Mulai date-->
      <div class="row">
        <div class="col">
          <label for="id">Date :</label>
          <input
            type="date"
            name="data"
            id="data"
            placeholder="end date"
            required
          />
        </div>
      </div>
      <br />
      <!--  Akhir date-->
      <!-- Mulai boolean -->
      <div class="row">
        <div class="col">
          <label for="boolean">Boolean :</label>
          <select
            name="boolean"
            id="boolean"
          >
            <option>Pilih</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
      </div>
      <br />
      <!-- akhir Boolean -->
      <button
        type="submit"
        class="btn btn-primary"
      >
        Add
      </button>
      <br />
      <!-- Akhir -->
    </div>
  </body>
</html>
